.header
    .header__burger 
        img(src="public/img/burger.png", alt="")
    a(href="#").header__logo 
        img(src="public/img/logo-frame.svg", alt="")
    a(href="#").header__btn Join Now
           
    