main.main
    .container 
        h1.main__title Plans & Pricing
        .main__monthly-block 
            p.main__text Whether your time-saving automation needs are large or small, we’re here to help you scale.
            .main__top-btn-block.toggle-container
                .toggle-btn
                .main__btn-toggle(data-btn="monthly") MONTHLY
                .main__btn-toggle(data-btn="yearly") YEARLY

        .main__info-block.monthly
            .main__plan 
                .main__price <span> $19 </span> /month
                .main__subtitle Starter
                .main__description Unleash the power of automation
                ul.main__list 
                    li.main__list-item  Multi-step Zaps
                    li.main__list-item  3 Premium Apps
                    li.main__list-item  2 Users team
                button.main__btn Choose plan
            .main__plan 
                .main__price <span> $54 </span> /month
                .main__subtitle Professional
                .main__description Advanced tools to take your work to the next level.
                ul.main__list 
                    li.main__list-item  Multi-step Zaps
                    li.main__list-item  Unlimited Premium Apps
                    li.main__list-item  50 Users team
                    li.main__list-item  Shared Workspace
                button.main__btn Choose plan
            .main__plan.popular
                .main__popular-text MOST POPULAR
                .main__price <span> $89 </span> /month
                .main__subtitle Company
                .main__description Automation plus enterprise-grade features.
                ul.main__list 
                    li.main__list-item  Multi-step Zap
                    li.main__list-item  Unlimited Premium Apps
                    li.main__list-item  Unlimited Users Team
                    li.main__list-item  Advanced Admin
                    li.main__list-item  Custom Data Retention
                button.main__btn.popular-btn Choose plan
        .main__info-block.yearly
            .main__plan 
                .main__price <span> $12 </span> /month
                .main__subtitle Starter
                .main__description Unleash the power of automation
                ul.main__list 
                    li.main__list-item  Multi-step Zaps
                    li.main__list-item  3 Premium Apps
                    li.main__list-item  2 Users team
                button.main__btn Choose plan
            .main__plan 
                .main__price <span> $36 </span> /month
                .main__subtitle Professional
                .main__description Advanced tools to take your work to the next level.
                ul.main__list 
                    li.main__list-item  Multi-step Zaps
                    li.main__list-item  Unlimited Premium Apps
                    li.main__list-item  50 Users team
                    li.main__list-item  Shared Workspace
                button.main__btn Choose plan
            .main__plan.popular
                .main__popular-text MOST POPULAR
                .main__price <span> $56 </span> /month
                .main__subtitle Company
                .main__description Automation plus enterprise-grade features.
                ul.main__list 
                    li.main__list-item  Multi-step Zap
                    li.main__list-item  Unlimited Premium Apps
                    li.main__list-item  Unlimited Users Team
                    li.main__list-item  Advanced Admin
                    li.main__list-item  Custom Data Retention
                button.main__btn.popular-btn Choose plan