$base-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$base-color: #fff;
$primary-color: #3B3472;
$accent-color: #BB6BD9;

$title-color: #231D4F;
$text-color: #848199;

$base-btn-color: #231D4F;
$base-btn-hover-color: #A847CC;

$accent-btn-color: #BB6BD9;
$accent-btn-hover-color: #A847CC;